
body, h2, form {
    margin: 0;
    padding: 0;
}


body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
    background-color: #1DB954;
    color: #fff;
    padding: 10px;
    text-align: center;
}


form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
}

input[type="submit"] {
    background-color: #1DB954;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="submit"]:hover {
    background-color: #28A745;
}

/* Style the section for displaying users */
section {
    margin: 20px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #444;
}

th, td {
    padding: 8px;
    text-align: left;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #333;
}